// Variables
@import 'variables/colors';
@import 'variables/font';
@import 'variables/borders';
@import 'variables/shadows';

// Required Bootstrap
@import '../bootstrap/flex';
@import '../bootstrap/spacing';
@import '../bootstrap/sizing';

// Components
@import 'components/toggle_filters';
@import 'components/list';
@import 'components/status_tag';
@import 'components/images';
@import 'components/buttons';
@import 'components/header';
@import 'components/titles';
@import 'components/tables';
@import 'components/panels';
@import 'components/forms';
@import 'components/sidebars';
@import 'components/comments';
@import 'components/footer'; 
@import 'components/breadcrumbs';
@import 'components/flash_messages';
@import 'components/datepicker_calendar';

// Global
@import 'rules';

// Views
@import 'views/login';
