$global-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$buttons-shadow: 0 1px 2px 0 rgba($black, 0.05);
$dropdown-shadow: 0 10px 15px -3px rgba($black, 0.1), 0 4px 6px -2px rgba($black, 0.05);
$field-shadow: 0 1px 2px 0 rgba($black, .05);
